/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.bson
data-mongod/journal/WiredTigerPreplog.0000000002
*.wt
data-mongod/diagnostic.data/metrics.interim
*.0000000001
data-mongod/mongod.lock
data-mongod/WiredTiger
*.lock